body{
  font-family: 'Montserrat', sans-serif;
}

header{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: 10px 0 10px 150px;
}
.left{
  width: 120px;
  display: inline-block;
}
.logo{
  width: 100px;
}
nav{
  display: inline-block;
  float: right;
  margin-right: 300px;
  position: relative;
  top: 10px;
}
ul li{
  display: inline-block;
}
li a{
  text-decoration: none;
  color: white;
  margin: 20px;
}
.login, .singup{
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px 10px;
}
