body{
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
}

header{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  padding: 10px 0 10px 150px;
}
.left{
  width: 120px;
  display: inline-block;
}
.logo{
  margin-top: 10px;
  width: 80px;
}
nav{
  display: inline-block;
  float: right;
  margin-right: 300px;
  position: relative;
  top: 10px;
}
ul li{
  display: inline-block;
}
li a{
  text-decoration: none;
  color: white;
  margin: 20px;
}
.login, .signup{
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px 10px;
}
#home{
  width: 100%;
  background-image: url(../images/fondo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
}
.up-case{
  text-transform: uppercase;
}
.mt-mb{
  margin-top: 0;
  margin-bottom: 0;
  color: #352384;
}
#login{
  width: 450px;
  background-color: white;
  float: right;
  padding: 20px 50px;
  margin-bottom: 150px;
  margin-top: 100px;
}
#login h1, h2{
  font-size: 2.5rem;
  font-weight: 700;
}
#login h5{
  margin-top: 5px;
  font-size: 0.8rem;
  color: #352384;
  letter-spacing: 1.5px;
}
::placeholder{
  font-family: 'Montserrat', sans-serif;
}
.input-box{
  display: inline-block;
}
.input-box input{
  border: none;
  border-bottom: 1px solid #728089;
  width: 380px;
  height: 30px;
  margin-bottom: 30px;
}
#login a{
  color: #728089;
}
.none a{
  text-decoration: none;
}
.button{
  background-color: #ff00bf;
  color: white;
  border: none;
  font-family: 'Montserrat', sans-serif;
  border-radius: 7px;
  padding: 15px 10px;
  font-size: 1rem;
  font-weight: 500;
  margin-right: 20px;
  margin-bottom: 15px;
}
#login h6{
  margin-bottom: 8px;
  margin-top: 0;
  color: #728089;
}
#conteiner{
  margin-top: -20px;
  background: -webkit-linear-gradient(#72268d, #301f69);
  background: -o-linear-gradient(#72268d, #301f69);
  background: -moz-linear-gradient(#72268d, #301f69);
  background: linear-gradient(#72268d, #301f69);
  color: white;
}
article.ar-phone{
  margin :0 auto;
  width: 1000px;
  padding: 30px;
}
.text-left{
  display: inline-block;
  width: 500px;
  margin-right: 100px;
}
.text-left p{
  margin-bottom: 0;
  font-size: 0.8rem;
}
.text-left div{
  margin: 50px 0;
}
.img-rigth {
  display: inline-block;
  width: 300px;
}
