body{
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
}

header{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  padding: 10px 0 10px 150px;
  transition: all 0.6s ease;
}

.header-color{
  background-color: white;
}
.header-color li a{
  color: black;
}
.header-color .login{
  border-color: gray;
}
.header-color .signup{
  visibility: visible;
  color: #FF00BF;
  border: 1px dotted #FF00BF;
}
.header-color .logo{
  background-image: url(../images/logo-pink.png);
}
.left{
  width: 120px;
  display: inline-block;
}
.logo{
  display: inline-block;
  background-image: url(../images/logo-white.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 10px;
  width: 80px;
  height: 80px;
}
nav{
  display: inline-block;
  float: right;
  margin-right: 300px;
  position: relative;
  top: 10px;
}
ul li{
  display: inline-block;
}
li a{
  text-decoration: none;
  color: white;
  margin: 20px;
}
.login, .signup{
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px 10px;
}
.signup{
  visibility: hidden;
}
#home{
  width: 100%;
  background-image: url(../images/fondo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
}
.up-case{
  text-transform: uppercase;
}
.mt-mb{
  margin-top: 0;
  margin-bottom: 0;
  color: #352384;
}
#login{
  width: 450px;
  background-color: white;
  float: right;
  padding: 20px 50px;
  margin-bottom: 150px;
  margin-top: 110px;
}
#login h1, h2{
  font-size: 2.5rem;
  font-weight: 700;
}
#login h5{
  margin-top: 5px;
  font-size: 0.8rem;
  color: #352384;
  letter-spacing: 1.5px;
}
.icon{
  display: none;
  width: 20px;
}
::placeholder{
  font-family: 'Montserrat', sans-serif;
}
div.hidden{
  display: none;
}
.input-box{
  display: inline-block;
}
.input-box input{
  border: none;
  border-bottom: 1px solid #728089;
  width: 380px;
  height: 30px;
  margin-bottom: 30px;
  color: #352384
}
#login a{
  color: #728089;
}
.none a{
  text-decoration: none;
}
.button{
  background-color: #ff00bf;
  color: white;
  border: none;
  font-family: 'Montserrat', sans-serif;
  border-radius: 7px;
  padding: 15px 10px;
  font-size: 1rem;
  font-weight: 500;
  margin-right: 20px;
  margin-bottom: 15px;
}
#login h6{
  margin-bottom: 8px;
  margin-top: 0;
  color: #728089;
}
#conteiner{
  margin-top: -20px;
  background: -webkit-linear-gradient(#72268d, #301f69);
  background: -o-linear-gradient(#72268d, #301f69);
  background: -moz-linear-gradient(#72268d, #301f69);
  background: linear-gradient(#72268d, #301f69);
  color: white;
}
article.ar-phone{
  margin :0 auto;
  width: 850px;
  padding: 30px;
}
.text-left{
  display: inline-block;
  width: 400px;
  margin-right: 50px;
}
.text-left p{
  margin-bottom: 2px;;
  margin-top: 0;
  font-size: 0.8rem;
}
.text-left h1{
  margin-bottom: 0;
  margin-top: 0;
}
.text-left h1+p{
  margin-top: 15px;
}
.text-left div{
  margin: 50px 0;
}
.img-rigth {
  display: inline-block;
  width: 320px;
}

#video1{
  color: black;
  position: relative;
}
#video2{
  color: black;
  position: relative;
}
#video3{
  color: black;
  position: relative;
  height: 415px;
}
.text-video1{
  position: absolute;
  width: 300px;
  display: inline-block;
  padding: 30px 50px;
}
.text-video3{
  width: 300px;
  display: inline-block;
  padding: 30px 50px;
}
.mb{
  margin-bottom: 0;
}
.mt{
  margin-top: 2px;
}
.link-video1{
  float: right;
  display: inline-block;
}
.link-video3{
  float: right;
  display: inline-block;
}
.text-video2{
  float: right;
  width: 300px;
  display: inline-block;
  padding: 30px 50px;
}
.link-video2{
  display: inline-block;
}

footer{
  background-color: #333447;
  color: white;
  width: 100%;
  text-align: center;
}
.conteiner-footer{
  width: 980px;
  text-align: center;
}
footer div{
  box-sizing: border-box;
  display: inline-block;
  width: 120px;
  padding: 20px;
  text-align: left;
  margin: 10px 50px;
  margin-top: 0;
}
footer div a{
  text-decoration: none;
  color: white;
  display: inline-block;
  margin: 10px;
}

.iconos-footer{
  display: inline-block;
  width: 135px;
}
.iconos-footer img{
  width: 130px;
}
